@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
body{
    min-height: 100 vh;
    background-color:#ffffff ;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-section{
    background-color: rgb(155, 219, 155);
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.contact-info{
    color: #000000;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
    
}

.contact-info i{
    margin-right: 20px;
    font-size: 25px;
}
.contact-form{
    max-width: 700px;
    margin-right: 50px;
    color: #000000;
}
.contact-info , .contact-form{
    flex: 1;

}
.contact-form h2{
    color: #000000;
     font-weight: 800;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight:bolder ;
}
.contact-form .text-box{
    background-color:  rgb(48, 42, 42);
    
    color: rgb(255, 255, 255);
    border: none;
    width:calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    
    margin-bottom: 20px;
    opacity: 0.9;
    border-radius: 15px;
    
}
 .text-box:focus{
    border: 1px solid rgb(0, 0, 0);
}
.text-box:focus-visible{
    border: none !important;
}
.contact-form .text-box:first-child{
    margin-right: 12px;

}
.contact-form .txtarea{
    margin-right: 25px;
}
.contact-form .txtarea{
    background-color: rgb(48, 42, 42) ;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0,0.1);
    margin-bottom: 20px;
    opacity: 0.9;
    border-radius: 15px;
    
}
.contact-form .btn-submit {
    float: right;
    background-color: crimson;
    color: white;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property:background;
    border-radius: 20px;
}
.contact-form .btn-submit:hover{
    background-color: #EEEEEE;
    color: black;
}
@media screen and  (max-width :950px) {
    .contact-section {
        flex-direction: column;
    }
    body{
        font-size: 10px;
    }
    input{
        width: 100px;
    }
    .contact-info .contact-form{
        margin: 10px 10px;
    }
    .contact-form h2{
        font-size: 10px;
    }
    .contact-form .text-box{width: 10%;
    }
        .a{
            font-size: 10px;
    } 
   #first{
        font-size: 10px;
}    #second{
    font-size: 10px;
}    #third{
    font-size: 10px;
}    #fourth{
    font-size: 10px;
} 
.contact-info{
    font-size: 10px;
}
}
.alert-success{
z-index: 1;
background-color:#D4EDDA;
font-size: 18px;
padding: 20px 40px;
min-width: 420px;
position: fixed;
margin-right:auto;
margin-left: auto;
top: 10px;
border-left: 8px solid #3AD66E;
border-radius: 4px;

}
.alert-error{
    z-index: 1;
    background-color:#FFF3CD;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    margin-right:auto;
    margin-left: auto;
    top: 10px;
    border-left: 8px solid #FF2502;
    border-radius: 4px;
    
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(255, 255, 255);
        opacity: 1; /* Firefox */
      }
  